/* this is the hero section container */
.about-us-bg{
    background-image: url("../assets/aboutBG.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(1);
    height: 50vh;
    margin-top: 110px;
    margin-bottom: 50px;
}
.about-hero-container h1{
  font-size: 4rem;
}
.about-hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.459);
  height: 50vh;
  align-items: center;
}
.about-hero-container p{
  color: white;
}
.about-hero-container .link{
  color: var(--primary-color);
  margin-right: 10px;
}
.red{
  color: var(--primary-color);
}
/* end of hero section */


/* premium tiling .... section container */
.aboutus-content {
    display: flex;
    justify-content: center;
    color: black;
    padding: 2rem;
    margin-top: 50px;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    gap: 3rem;
  }
  .about-us-text{
    /* width: 50%; */
  }
   /* image it self */
  .about-main-image {
    width: 40% !important;
    border-radius: 8px;
  }
 /*this text section containr  */

 /* main title text */
  .mainTitle {
    font-size: 30px;
    margin-bottom: 10px;
  }
  /* paragraph text */
  .about-description {
    font-size: 1rem;
    color: var(--paragraph-text-color);
    margin-bottom: 1.5rem;
    font-weight: 300;
    line-height: 1.8rem;
  }
/* end of premieum tiling... */

/* our work process title text */
.work-process{
  margin-top: 50px;
  color: black;
  text-align:center;
  font-size: var(--title-font-size);
}
/* cards container */
.grids{
    margin-top: 20px;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
/* each card */
.tile{
    color: black;
    text-align: left;
    padding: 2rem;
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 2.4rem;
    flex-grow: 1;
}
/* heading */
.tile h3{
  margin-bottom: 10px;
}
/* paragraph */
.tile p{
  font-weight: 300;
  color: var(--paragraph-text-color);
}

  @media (max-width: 900px) {
    .work-process{
      font-size: 1.6rem;
      margin-top: 10px;
    }
    .about-us-bg{
      margin-bottom: 0px;
      margin-top: 95px;
    }
    .about-main-image {
      width: 100% !important;
      margin-bottom: 20px;
    }
    .grids{
        margin-top: -10px;
    }
    .aboutus-content{
        margin-top: 30px;
        width: 100%;
        flex-direction: column;
    }
    .about-hero-container h1{
        font-size: 3rem;
    }
}