.our-approach {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    /* border: 2px solid red; */
  }
  
  .approach-content {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    /* height: 60vh; */
    background-color: var(--secondary-color); 
    padding-right: 1.9rem;
    border-radius: 20px;
    height: 500px;

  }
  
  .approach-left {
    background-image: url('../assets/approachBG.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    /* border-radius: 8px; */
    max-width: 550px;
    /* width: 100%; */
    border-radius: 20px;
    /* border: 2px solid red; */

  }
  
  .approach-text {
    max-width:100%;
    background: rgba(0, 0, 0, 0.536);
    height: 100%;
    padding: 2rem;
    display: flex;
    padding-left: 2.9rem;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    /* border: 2px solid green; */
    min-height: 400px;
  }
  
  .approach-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .approach-text p {
    font-size: 1rem;
    margin-bottom: 0;
    color: white;
    max-width: 70%;
  }
  
  .approach-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    /* border: 2px solid red; */
    padding-right: 3rem;
    padding-top:3rem; 
    padding-bottom:3rem; 
  }
  
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    /* max-height: 350px; */
    padding: 30px;
    padding-bottom: 50px;
    flex-grow: 1;
    max-width: 400px;
    min-width: 200px;
    min-height: 360px;
  }
  
  .card-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
  }
  
  .card h3 {
    color: black;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  .card p {
    font-size: 0.8rem;
    color: #555;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .our-approach {
      padding: 4rem;
          /* border: 2px solid red; */
    }
  
    .approach-content {
      flex-direction: row;
      gap: 2rem;
    }
  
    /* .approach-left {
      flex: 1;
    } */
  
    .approach-right {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      margin-left: -80px;
    }
  
    .card {
      flex: 1;
    }
  }

  @media (max-width: 1000px) {
    .approach-right {
      padding: 0.9rem;
      margin-top: -50px;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
    .card{
      padding-bottom: 60px;
      padding: 40px;
      text-align: left;
    }
    .approach-left{
      min-height: 400px;
      width: 100%;
      /* border: 2px solid red; */
    }
    .approach-content {
    padding: 0;
    background: none;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    height: 100%;
    }
    .approach-text{
      height: 100%;
    }
    .approach-text h1 {
    font-size: 1.9rem;
    }
    .approach-text p {
    font-size: 0.8rem;
    min-width: 100%;
    }
  }
  