/* main container */
.our-satisfaction {
    background-image: url("../assets/ChooseUsBG.jpg");
    padding: 5rem;
    display: flex;
    gap: 5rem;
    width: 100%;
    background-attachment: fixed;
    margin-top: 40px;
  }

  /* left side text conatiner */
  .satisfaction-text{
    max-width: 50%;
    color: rgb(255, 255, 255);

  }

  /* why choose us text */
  .short {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: -10px;
  }

  /* main title text */
  .titleChoose {
    font-size: 30px;
    margin-bottom: 1rem;
    color: white;
    font-weight:600;
  }

  /* paragraph description text */
  .chooseUs-description {
    font-size: 16px;
    margin-bottom: 1.5rem;
    font-weight: 200;
  }
  
  /* rating text conatiner */
  .ratings {
    display: flex;
    gap: 5rem;
    margin-top: 50px;
  }
/* to target the start  */
  .stars {
    color: rgb(255, 217, 0);
  }
  /* right hand text container */
  .satisfaction-details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: white;
  }
  /* the right hand quality text conatiner */
  .detail {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    
  }
  /* icon of quality */
  .icon {
    font-size: 3rem;
    color: white;
  }
  /*heading of quality */
  .detail h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  /* rating subtitle text */
 .rating p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 200;
  }
/* quality description text */
  .detail p{
    color: var(--text-color);
    font-size: var(--paragraph-font-size);
    font-weight: 200;
  }
  
  
  /* media query  */
  @media (max-width: 900px) {
    .satisfaction-text{
      max-width: 100%;
    }
    .our-satisfaction{
        padding: 2rem;
        flex-direction: column;
        padding-top: 2.5rem;
        border: 2px solid black;
    }
    .titleChoose{
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      .ratings{
        gap: 2rem;
        margin-top: 10px;
      }
      .detail  h2{
        font-size: 18px;
      }
      .detail p{
        font-size: 14px;
      }
      
}