.contact-us-bg{
    background-image: url("../assets/contactBG.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(1);
    height: 50vh;
    margin-top: 110px;
}
.contact-container1 h1{
    font-size: 4rem;
}
.contact-icon-large{
    font-size: 20px;
    margin-right:10px;
    margin-bottom: -3px;
  }
.contact-container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0;
    color: white;
    background: rgba(0, 0, 0, 0.459);
    height: 50vh;
    align-items: center;
}
.contact-container1 p{
    color: white;
}
.contact-container1 .link{
    color: var(--primary-color);
    /* border-bottom: 1px solid var(--primary-color); */
    margin-right: 10px;
}
.red{
    color: var(--primary-color);
}

.contact-us {
    padding: 2rem;
    margin-top:50px;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
  
  .contact-info1, .contact-form {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact-info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: none;
    
  }
  
  .contact-info1 h2 {
    font-size: 1.5rem;
    margin-right: auto;
    color: black;
  }
  
  .contact-info1 p {
    margin-bottom: 1.5rem;
    margin-right: auto;
    color: black;
    font-weight: 300;
  }
  
  .map {
    width: 100%;
    height: 400px;
    margin-bottom: 1.5rem;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
    color: black;
  }
  
  .contact-details div {
    text-align: left;
  }
  
  .contact-details h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .contact-details p {
    margin: 0;
  }
  
  .contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: black;
  }
  
  .contact-form p {
    color: #000000;
    margin-bottom: 1.5rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group input, .form-group select, .form-group textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    outline: none;
  }
  
  .form-group input[type="text"], .form-group input[type="email"] {
    width: 100%;
  }
  
  .form-group select, .form-group textarea {
    width: 100%;
  }
  
  .conButton[type="submit"] {
    padding: 0.75rem 2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .conButton[type="submit"]:hover {
    background-color: darkred;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row;
    }
  
    .contact-info1, .contact-form {
      flex: 1;
    }
  
    .form-group {
      flex-direction: row;
      gap: 1rem;
    }
  
    .form-group input, .form-group select, .form-group textarea {
      width: calc(50% - 0.5rem);
    }
  
    .form-group textarea {
      width: 100%;
    }
  }
  
  @media(max-width:900px){
    .contact-us-bg{
      margin-top: 95px;
    }
    .contact-us{
     padding:0px;
    }
    .contact-details{
      flex-direction: column;
      gap: 2rem;;
    }
  }