/* main contianer */
.gallery-container {
    margin-top: 60px;
  }

/* text container */
  .text-contentGallery {
    color: black;
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

  }

  /* main title */
  .titleGallery {
    font-size: var(--title-font-size);
    text-align: center; 
    margin-bottom: 0.5rem;
    line-height: 3rem;
  }

  /* description text */
  .descriptionGallery {
    font-size: var(--paragraph-font-size);
    color: var(--paragraph-text-color);
    /* margin-bottom: 1.2rem; */
    /* font-weight: 200; */
  }

  
  /* card image container */
  .swiper-slide {
    width: 25rem;
    height: 30rem;
    position: relative;
    position: relative;
    overflow: hidden;

  }
/* image it self */
  .swiper-slide img {
    width: 25rem;
    height: 30rem;
    border-radius: 1rem;
    object-fit: cover;
  }

  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }

/* if to display text on the card of each image  */
/* 
  .overlay{
    height: 7rem;
    width: 25rem;
    background: rgba(0, 0, 0, 0.407);
    position: absolute;
    bottom: 0;
    display: flex;
    color: white;
    flex-direction: column;
    align-items:start;
    justify-content: end;
    transition: 0.2s ease-in;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .overlay > h2{
    margin-left: 50px;
    margin-bottom: 10px;
    color: white;
    font-weight: 500;
    font-size: 3rem;
    line-height: 20px;
  }
  .overlay p{
    color: white;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: 300;
} */


/* media query */
  @media (max-width: 500px) {
    .swiper_container {
      height: 32rem;
    }
    .swiper-slide {
      width: 18rem !important;
      height: 25rem !important;
    }
    .swiper-slide img {
      width: 18rem !important;
      height: 25rem !important;
    }
    .descriptionGallery{
      font-size: 14px;
    }
    /* .overlay{
        width: 18rem !important;
    } */
  }