.scrolling{
    width: 100%;
    height: 60vh;
    background-image: url("../assets/getInTouchBG.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}
.scrollingContent{
    background: rgba(0, 0, 0, 0.538);
    padding: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scrollingContent > p{
    font-size: 18px;
    color: white;
}
.scrollingContent > h1{
    color: white;
    font-size: 3.2rem;
    font-weight: 600;
    max-width: 600px;
    text-align: center;
}
.Scrolling-cta-button {
    font-size: 1rem;
    margin-top: 20px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    border: 2px solid var(--primary-color);
    background-image: -webkit-linear-gradient(30deg, var(--primary-color) 50%, transparent 50%);
    background-image: linear-gradient(33deg, var(--primary-color)  50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }


  .Scrolling-cta-button:hover {
    background-position: 100%;
    color: var(--primary-color);
  }
 

  @media screen and (max-width: 900px) {
    .scrollingContent{
    padding: 2rem;
    }
    .scrollingContent > h1{
        font-size: 2rem;
        margin-top: 10px;
    }
    .scrollingContent > p{
        font-size: 16px;
    }
  }