.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    /* background-color: #f9f9f9; */
    margin-top: 110px;
    /* border: 2px solid black; */

  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    max-width: 1250px;
    /* border: 2px solid green; */
    z-index: 2;
    place-content: center;
    /* place-items: center; */
  }
  
  .text-content {
    text-align: center;
    margin-left: 20px;
    /* border: 2px solid black; */
  }
  
  .title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: black;
    font-family: var(--second-font);
  }
  
  .subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #000000;
  }
  
  .cta-button {
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .cta-button:hover {
    background-color: #b71c1c;
  }
  
  .image-content {
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: flex-end;
  }
  
  .hero-image {
    width: 90%;
    height: auto;
    border-radius: 8px;
  }
  
  .orientation-text {
    margin-top: 2rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1rem;
    color: #333;
    margin-left: 5px;
  
  }

  .bg{
    height: 850px;
    width: 35%;
    background: var(--secondary-color);
    position: absolute;
    right: 0;
    top:0;
    border-bottom-left-radius: 20px;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .hero-section {
      padding: 2rem;
    }
  
    .content {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  
    .text-content {
      text-align: left;
    }
  
    .subtitle {
      font-size: 1.25rem;
    }
  
    .hero-image {
      border-radius: 8px;
    }
  
    .orientation-text {
      margin-top: 0;
    }
  }
  

  @media screen and (max-width: 800px) {
    .title {
      font-size: 1.9rem;
    }
   .text-content{
    margin-bottom: 20px;
   }
   .cta-button{
    margin-top: 0px;
   }
   .subtitle{
    font-size: 14px;
   }
   .orientation-text {
    font-size: 12px;
    margin-left: 5px;
   }
   .bg{
    display: none;
   }
  }