/* hero  container*/
.serviceHero-bg{
    background-image: url("../assets/servicesBG.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(1);
    height: 50vh;
    margin-top: 110px;
    /* border: 2px solid black; */
    margin-bottom: 15vh;
}
/* title */
.serviceHero-container h1{
    font-size: 4rem;
}
/* content container of hero */
.serviceHero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0;
    color: white;
    background: rgba(0, 0, 0, 0.459);
    height: 50vh;
    align-items: center;
}
.serviceHero-container p{
    color: white;
}
.serviceHero-container .link{
    color: var(--primary-color);
    margin-right: 10px;
}

@media (max-width: 800px) {
    .serviceHero-container1 h1{
        font-size: 2.4rem;
    }
    .serviceHero-bg{
        margin-top: 13vh;
    }
}

