/* main container */
.ser-container{
  /* border: 2px solid black; */
  display: flex;
  color: black;
  justify-content: center;
  gap: 3rem;
  font-family: var(--body-font);
  line-height: 1.8rem;
}
/* text container */
.ser-text{
  width: 100%;
  max-width: 700px;
  padding-top: 2rem;
  font-weight: 200;
  margin-top: -10px;
}
/* heading */
.ser-text h2{
    margin-bottom: 10px;
}
/* paragraph */
.ser-text p{
  font-weight: 200;
}
/* the red line on right side of our services text */
.s-line{
  display: block;
  height: 4px;
  width: 80px;
  background: var(--primary-color);
  margin-left: 175px;
  margin-top: -13px;
}
/* left navigation container */
.servicesNav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    padding: 20px;
    /* border: 2px solid black; */
  }
  /* our services text it self */
  .servicesNav-container > h2{
    color: black;
    margin-bottom: 30px;
    font-size: 26px;
  }
  /* navigation links container */
  .service-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .service-nav{
    /* border: 2px solid black; */
    padding: 2rem;
    border-radius: 10px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .service-nav ul li {
    margin-bottom: 12px;
  }
  
  .service-nav ul li a {
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
    padding: 10px 20px;
    display: block;
    background-color: #f0f0f0;
    border-radius: 4px;
    text-align: center;
  }
  
  .service-nav ul li a.active, .service-nav ul li a:hover {
    background-color: #d32f2f;
    color: white;
  }


  @media (max-width: 700px) {
    .service-nav{
      width: 100%;
    }
.ser-container{
  flex-direction: column;
}
.ser-text{
  padding: 0 2rem;
}
.servicesNav-container {
align-items: start;
max-width: 500px;
}
  }