
/* the main contianer */
.status-section {
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: -50px;
    margin-top: 50px;
  }
  /* main title text */
  .status-title {
    font-size: 2rem;
    color: #d32f2f;
    width: 50%;
  }
  
  /* card holder */
  .status-cards {
    display: flex;
    width: 100%;  
  }
  /* each card */
  .status-card {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    max-width: 400px;
    text-align: center;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
    border-right: 2px solid white;
    padding-left: 50px;
  }

  /* card text container*/
  .card-text{
    text-align: left;
  }
  /* card icon */
  .status-icon {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  .status-card h3 {
    font-size: 1.5rem;
  }
  
  .status-card p {
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .status-section {
        flex-direction: column;
    }
    .status-cards {
      flex-direction: column;
      align-items: center;
    }
    .status-card {
      width: 100%;
      max-width: none;
      justify-content: center;
      border-bottom: 1px solid white;
      border-right: 1px solid black;
    }
    .status-title {
        margin: 30px 0;
    }

  }