/* main conatiner */
.testimonial {
    padding: 2rem;
    color: black;
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
  }
  
  /* image contianer */
  .testimonial-image {
    width: 100%;
    max-width: 500px;
  }
  
  /* image itself */
  .testimonial-main-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  /* text container */
  .testimonial-text {
    text-align: left;
  }
  
  .testimonial-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  /* to change the selector word */
  .highlight {
    color: var(--primary-color);
  }
  /* the saying paragraph by the client */
  .testimonial-quote {
    font-size: var(--paragraph-font-size);
    color: var(--paragraph-text-color);
    margin-bottom: 1.5rem;
  }
  /* container of client  */
  .testimonial-author {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 60px;
  }
  /* heading of client text */
  .testimonial-author h3{
    font-size: 16px;
  }
  /* client image */
  .author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .author-title {
    color: #000000;
  }

  /* the quots icon */
  .quotes{
    width: 60px;
    margin-left: auto;
  }

  /* Media Queries */
  @media (min-width: 768px) {
 
    .testimonial-text {
      text-align: left;
      max-width: 50%;
    }
    .quotes{
    width: 100px;
    }
    .testimonial-author h3{
        font-size: 20px;
      }
  }

  @media (max-width: 900px) {
    .testimonial{
      flex-direction: column;
      margin-top: -10px;
      gap: 1rem;
    }
  }

  